@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	padding-top: 10px;
	background: #673ab7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#512da8,
		#673ab7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#512da8,
		#673ab7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: 'Inter', sans-serif;
}

.Logo {
	position: relative;
	margin-left: 10px;
}

.Logo h1 {
	font-size: 1.4rem;
	font-weight: 500;
	color: #fdfdfd;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 10px;
}

@media (max-width: 676px) {
	.Logo h1 {
		text-align: center;
	}
}

.container {
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	gap: 1.3rem;
}

.container .title {
	font-size: clamp(3.4rem, 2vw, 2.3rem);
	text-align: center;
	text-transform: uppercase;
	opacity: 0.8;
	font-weight: 600;
	text-wrap: balance;
}

.container .text {
	font-weight: 500;
	text-align: center;
	font-size: clamp(1.5rem, 2vw, 2rem);
	text-wrap: pretty;
}

.container form {
	background-color: #fdfdfd;
	width: max(280px, 30%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 8px;
	border-radius: 10px;
	margin-bottom: 20px;
}
form input {
	width: 100%;
	border: none;
	background: none;
	padding: 5px 0;
	outline: 0;
	font-size: 15px;
	font-weight: 600;
}

form button {
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	cursor: pointer;
}

form button svg {
	height: 1.5rem;
	width: 1.5rem;
	color: #000000;
}

#container-images {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: 1rem;
	padding: 1rem;
	position: relative;
}

.container-image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	border-radius: 10px;
	height: 300px;
}

.container-image::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	z-index: 0;
	transition: 0.4s ease-in-out;
}

.container-image .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	transform: translateY(100%);
	z-index: 1;
	padding: 10px 20px;
	line-height: 1.5;
	transition: 0.3s ease-in-out;
}

.container-image:hover .desc {
	transform: translateY(0);
}

.container-image:hover::after {
	opacity: 0;
}

.desc .title-img {
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 600;
}

.desc .author {
	font-style: italic;
}

.desc .likes {
	margin-right: auto;
	width: fit-content;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.8rem;
}

#container-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#container-images .error-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 4rem;
	font-size: clamp(1.5rem, 2vw, 1.8rem);
	color: #fff;
	text-wrap: nowrap;
	padding: 0 1rem;
}

.loading {
	width: 30px;
	height: 30px;
}
